<div class="container mycontainer">
  <div class="row">
    <div class="col-xl-4">
      <p class="txt"><i class="fa fa-lock" aria-hidden="true"></i></p>
      <p class="txt-icon"> <i class="fa fa-suitcase " aria-hidden="true"></i></p>
    </div>
    <div class="col-xl-4">
      <p class="txt1">Insurance and Customer Services</p>
      <p class="txt2">
        The main concern when storing luggages is the risk of damaging or losing
        your personal effects.<br />In DD Luggages Storage we offer full insurance
        for each bag and security seals.
      </p>
    </div>
    <div class="col-xl-4">
      <p class="txt-txt1">Type</p>
      <p class="txt-txt2">
        Not all luggage storing services are the same: most of them offer daily
        fares, which may be inconvenient if you’re planning to drop your baggage
        just for a few hours. If you are planning to do that, DD Luggage Storage
        is the only company that offers storage services
        <span class="hour">per hour</span>. Nice, right?
      </p>
    </div>
  </div>
</div>
