<div class="footer">
  <div class="container-fluid top-footer p-3">
    <div>
      <p class="text">A better alternative to lockers in Iasi</p><br>
      <p class="text1">How does it work?</p>
    </div>
    <div class="container">
      <div class="box">
        <div class="cerc">
          <img class='myicon' src="https://img.icons8.com/fluent/96/000000/online-package-tracking.png" />
        </div>
        <p class='title'>Book online</p>
        <p class='description'>Use DD Luggage Storage App for selected date, booking,cancel,payment.</p>
      </div>
      <div class="box">
        <div class="cerc">
          <img class='myicon' src="https://img.icons8.com/office/80/000000/passenger-with-baggage.png" />
        </div>
        <p class='title'>Derop off</p>
        <p class='description'> A representative will be there to assist you and will secure each bag with tamper-proof
          seals (Free of charge!). </p>
      </div>
      <div class="box">
        <div class="cerc">
          <img class='myicon' src="https://img.icons8.com/fluent/96/000000/sunbathe.png" />
        </div>
        <p class='title'>Roam-free</p>
        <p class='description'>Enjoy your stay hands-free! Your bags will be safely kept until your return.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid bottom-footer">
    <div class="row">
      <div class="col-12">
        <div class="allicons">
          <a href="mailTo:dorian709@yahoo.co.uk"><i class="fa fa-envelope-o icon-icon" aria-hidden="true"></i></a>
          <a href="tel:038654325677"><i class="fa fa-phone-square icon-icon " aria-hidden="true"></i></a>
          <a href="tel:+4075678543"><i class="fa fa-whatsapp icon-icon" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/"><i class="fa fa-facebook-official icon-icon" aria-hidden="true"></i></a>
          <a href="https://www.instagram.com/"><i class="fa fa-instagram icon-icon " aria-hidden="true"></i></a>
          <a href="https://twitter.com/?lang=en"><i class="fa fa-twitter icon-icon" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
