.mynavbar {
  position:sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  background-color: rgb(63, 81, 181) !important;
  width: 100%;
  min-height: 30px;
}
.navbar-nav {
  display: flex;
  justify-content: space-around;
}
.nav-link {
  position: relative;
  top: 10px;
  text-transform: uppercase;
  color: white !important;

  font-weight: 1000;

  font-family: "Helvetica Neue", Helvetica, Arial;
}
.nav-link:hover {
  color: #18dcff !important;
  transition: 0.2s;
}
.mycontainer {
  width: 100%;
  height: 25px;
  background-color: rgb(63, 81, 181);
}
.getcode {
  position: absolute;
  left: 2px;
  z-index: 1;
  width: 91px;
  height: 20px;
  border: 2px solid black;
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E")
    1;



}

.payment {
  animation: opacityPulse 3s ease-in;
  animation-iteration-count: infinite;
  opacity: 0;
  color: #18dcff;
}

@media screen and (max-width: 575px) {
  .mynavbar {
    height: 57px;
  }
  .nav-link {
    position: relative;
    top: 10px;
    font-size: 10px;
    padding: 5px;
    background-color: #5b5e64;
  }
  .mycontainer {
    display: none;
  }

  .getcode {
    position: absolute;
    width: 67px;
    left: 1px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .mynavbar {
    height: 55px;
  }
  .nav-item {
    width: 33%;
  }
  .nav-link {
    background-color: #5b5e64;
    font-size: 11px;
  }
  .mycontainer {
    display: none;
  }
  .getcode {
    position: absolute;
    width: 68px;
    left: -3px;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .mynavbar {
    height: 60px;
  }
  .navbar-nav {
    position: relative;
    bottom: 11px;
  }
  .nav-link {
    font-size: 15px;
    background-color: rgb(63, 81, 181) !important;
  }
  .mycontainer {
    height: 45px;
  }
  .getcode {
    position: absolute;
    width: 98px;
    height: 22px;
    left: 1px;
  }
}
