.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}
.box {
  width: 230px;
  height: 215px;
  border-radius: 7px;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  background-color: #ebf5fc;
}
.description {
  position: relative;
  bottom: 171px;
  width: 230px;
  height: 215px;
  border-radius: 7px;
  background-color: #ebf5fc;
}
.txt {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  top: 3px;
  color: green;
}
.icon-icon {
  display: flex;
  justify-content: center;
}
.myicon {
  font-size: 30px;
  position: relative;
  top: 20px;
}
.txt2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  top: 3px;
  font-size: 20px;
}
.txt3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  top: 20px;
  font-size: 30px;
  color: blue;
  font-family: 'Times New Roman', Times, serif;
}
.txt4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  top: 20px;
  font-size: 30px;
  color: red;
  font-family: 'Times New Roman', Times, serif;
}
.btn-btn {
  position: relative;
  top: 35px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 90px;
  height: 25px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background: #ebf5fc;
  border: none;
  border-radius: 5px;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1);
  color: green;
  font-size: 10px;
}
.btn-btn:focus {
  outline: none;
  border: none;
}
.btn-btn:hover {
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width:575px) {
  .box {
    position: relative;
    top: 20px;
    width: 160px;
    height: 200px;
    margin: 5px;
  }
  .txt {
    font-size: 10px;
  }
  .txt2 {
    font-size: 12px;
  }
  .txt3 {
    font-size: 20px;
  }
  .myicon {
    font-size: 20px;
  }
  .btn-btn {
    width: 70px;
    height: 20px;
  }
  .btn-btn-book {
    font-size: 8px;
    position: relative;
    bottom: 1px;
  }
  .description {
    width: 160px;
    height: 200px;
    position: relative;
    bottom: 156px;
  }
  .txt4 {
    font-size: 20px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    position: relative;
    top: 20px;
  }
  .box {
    width: 160px;
    height: 200px;
    margin: 5px;
  }
  .txt {
    font-size: 10px;
  }
  .txt2 {
    font-size: 12px;
  }
  .txt3 {
    font-size: 20px;
  }
  .myicon {
    font-size: 20px;
  }
  .btn-btn {
    width: 70px;
    height: 20px;
  }
  .description {
    width: 160px;
    height: 200px;
    position: relative;
    bottom: 156px;
  }
  .txt4 {
    font-size: 20px;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    position: relative;
    top: 20px;
  }
  .box {
    width: 160px;
    height: 200px;
    margin: 15px;
  }
  .txt {
    font-size: 10px;
  }
  .txt2 {
    font-size: 12px;
  }
  .txt3 {
    font-size: 20px;
  }
  .myicon {
    font-size: 20px;
  }
  .btn-btn {
    width: 70px;
    height: 20px;
  }
  .description {
    width: 160px;
    height: 200px;
    position: relative;
    bottom: 157px;
  }
  .txt4 {
    font-size: 20px;
  }
}

@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
.box{
  margin:40px;
}


}
