
<div class="container mycontainer">

  <div class="row">
    <div class="col-xl-4 col-sm-4">
      <p class="price">Prices Information</p>
      <p class="price-txt">1 hour=10 Ron</p>
      <p class="price-txt">2 Hours=15 Ron</p>

    </div>
    <div class="col-xl-4 col-sm-4 mycol">

      <p class="txt">
        <i class="fa fa-calendar myicon" aria-hidden="true"></i>Availability Dates</p>


      <div class="datepicker1">
        <mat-card class="demo-inline-calendar-card">
          <mat-calendar (selectedChange)="selected = $event"></mat-calendar>
          <p class='selected'>Selected date: {{selected|date}}</p>
        </mat-card>
      </div>
    </div>
    <div class="col-xl-4 col-sm-4 mycol1">
      <img src="./assets/t10.png" alt="picture" />
    </div>
  </div>
</div>
