

.show{

  height:60px;
  display:block;
  margin:0 auto;

}
.alert {

width:40%;
  height:100px;

    color: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 1px rgba(255, 255, 255, 0.4) solid;
    border-bottom: 1px rgba(40, 40, 40, 0.35) solid;
    border-right: 1px rgba(40, 40, 40, 0.35) solid;


background-color:#5f27cd;



}

.btn-close{

  border: none ;
  outline: none!;

}

.save {
  display:block;
  margin:0 auto;
  position: relative;
  top:20px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center!important;
text-transform: uppercase!important;
 font-family:'Bauer Bodoni',sherif;


}






@media screen and (max-width: 575px){



  .alert {
    width:99%;
    position: relative;


  }

  .save {
    position: relative;
    top:5px;

    font-size: 11px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .alert {
    width: 99%;
    height:70px;

  }


  .save {
 position: relative;
    top:5px;
    font-size: 11px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .alert {
    width: 99%;
    height:70px;

  }

  .save {
 position: relative;
    top:5px;
    font-size: 11px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio:3) and (orientation: landscape) {
 .alert {
    width: 99%;
    height:70px;

  }


  .save {
 position: relative;
    top:5px;
    font-size: 11px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .alert {
    width:90%;
    height:70px;

  }
 .save {
 position: relative;
    top:5px;
    font-size: 16px;
  }


}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .alert {
    width:90%;
    height:70px;

  }
 .save {
 position: relative;
    top:5px;
    font-size: 16px;
  }


}
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
 .alert {
    width:90%;
    height:70px;

  }
 .save {
 position: relative;
    top:5px;
    font-size: 16px;
  }


}

.myload{
  position: relative;
  top:10px;
  display:flex;
  justify-content:center;
 gap:10px;
}


mat-spinner{


  position: relative;

  top:20px;



}
.processing{
  position: relative;
  top:25px;
  font-size:16px;
  font-weight: lighter;
  color:navy;
}


.container {
  position: relative;
 top:17px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}
.box {
  width: 230px;
  height: 240px;
  border-radius: 7px;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  background-color: #ebf5fc;
  position: relative;
  top: 20px;
}
.txt {

  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  top:30px;
  font-weight:600;
  color:red;
  font-family: arial;
  font-size:16px;

}
.txt11 {

  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  top:30px;
  font-weight:500;
  font-family:'Bauer Bodoni',sherif;

}
.txt1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  top: 3px;
  color: green;
}
.terminal{
  color:navy;
}
.icon-icon {
  display: flex;
  justify-content: center;
}
.myicon {
  font-size: 50px;
}
.button {
  position: relative;
  left: 35px;
}
.btn-btn {
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
}
input {
  width: 20%;
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
  bottom: 2px;
}
.myicon1 {
  font-size: 18px;
  cursor: pointer;
}
.myicon2 {
  position: relative;
  left: 20px;
  bottom: 4px;
  font-size: 30px;
}
.btn-remove {
  display: block;
  margin: 0 auto;
  position: relative;
  left: 60px;
  bottom: 85px;
  width: 30%;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  background-color: black;
  text-align: center;
}
.price {
  position: relative;
  top:15px;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}
.price-value {
  font-size: 14px;
  font-weight: 500;
  color: green;
  position: relative;
  left: 4px;
}
.txt-txt1{
 text-align: center;

  font-weight: 500;
  position: relative;
 bottom:10px;
  color: green;




}
@media screen and (max-width:575px) {

  .box {
    width: 160px;
    height: 195px;
    margin: 5px;
  }
  .txt {
    font-size: 12px;
  }
  .txt1 {
    position: relative;
    top: 1px;
    font-size: 10px;
  }
  .code {
    font-size: 11px;
  }
  .icon-icon {
    position: relative;
    bottom: 20px;
  }
  .myicon {
    font-size: 30px;
    position: relative;
    top: 10px;
  }
  .button {
    position: relative;
    left: 15px;
    bottom: 10px;
  }
  .myicon1 {
    font-size: 13px;
  }
  input {
    position: relative;
    bottom: 2px;
    right:5px;
    width: 22%;
  }
  .myicon2 {
    position: relative;
    left: 20px;
    bottom: 4px;
    font-size: 27px;
  }
  .price {
    font-size: 10px;
    position: relative;
    bottom: 20px;

  }
  .price-value {
    position: relative;
  left:1px;
    font-size: 11px;
  }
  .btn-remove {
    position: relative;
    bottom: 87px;
    left: 50px;
    width: 25%;
  }
  .pay-pay{
    font-size:9px;
text-align: center;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

  .box {
    width: 160px;
    height: 195px;
    margin: 5px;
  }
  .txt {
    font-size: 12px;
  }
  .txt1 {
    position: relative;
    top: 1px;
    font-size: 10px;
  }
  .code {
    font-size: 11px;
  }
  .icon-icon {
    position: relative;
    bottom: 20px;
  }
  .myicon {
    font-size: 30px;
    position: relative;
    top: 10px;
  }
  .button {
    position: relative;
    left: 15px;
    bottom: 10px;
  }
  .myicon1 {
    font-size: 13px;
  }

  input {
    position: relative;
    bottom: 2px;
    right:5px;
    width: 22%;
  }
  .myicon2 {
    position: relative;
    left: 20px;
    bottom: 4px;
    font-size: 27px;
  }
  .price {
    font-size: 10px;
    position: relative;
    bottom: 20px;

  }
  .price-value {
    position: relative;
    left:1px;
    font-size: 11px;
  }
  .btn-remove {
    position: relative;
    bottom: 87px;
    left: 50px;
    width: 25%;
  }
  .pay-pay{
    font-size:9px;
    text-align: center;
      }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {

  .box {
    width: 160px;
    height: 195px;
    margin: 20px;
  }
  .txt {
    font-size: 16px;
  }
  .txt1 {
    position: relative;
    top: 1px;
    font-size: 10px;
  }
  .code {
    font-size: 11px;
  }
  .icon-icon {
    position: relative;
    bottom: 20px;
  }
  .myicon {
    font-size: 30px;
    position: relative;
    top: 10px;
  }
  .button {
    position: relative;
    left: 15px;
    bottom: 10px;
  }
  .myicon1 {
    font-size: 13px;
  }

  input {
    position: relative;
    bottom: 2px;
    right:5px;
    width: 22%;
  }
  .myicon2 {
    position: relative;
    left: 20px;
    bottom: 4px;
    font-size: 27px;
  }
  .price {
    font-size: 10px;
    position: relative;
    bottom: 20px;

  }
  .price-value {
    position: relative;
    left:1px;
    font-size: 11px;
  }
  .btn-remove {
    position: relative;
    bottom: 87px;
    left: 50px;
    width: 25%;
  }
  .pay-pay{
    font-size:9px;
    text-align: center;
      }
}
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {

  .box {
    width: 160px;
    height: 195px;
    margin: 40px;
  }
}