<header></header>
<navbar></navbar>
<terminalplaces></terminalplaces>
<dates></dates>
<advertising></advertising>
<section>








<div class="show">
  <div class="myload">
 <mat-spinner [diameter]="25" *ngIf="show"></mat-spinner>
 <p class='processing' *ngIf="show">Payment processing ...</p>
  </div>



 <div *ngIf="show1" class="alert alert-info alert-dismissible fade show" [@bounce]="bounce">
   <span class="save">Payment completed.Please take your luggage</span>
   <button type="button" (click)="functionStop()" class="btn-close" data-bs-dismiss="alert"></button>
 </div>



   <h1 class='txt11' *ngIf="show2">Payment</h1>
</div>

<div class="container">
  <div class="box" *ngFor="let luggage of storage1">
    <p class='txt1'>locker nr {{luggage.place}}</p>

    <div class="icon-icon">
      <i class="fa fa-suitcase myicon" aria-hidden="true"></i>
    </div>


  <p class='txt1'>TERMINAL 3 IASI AIRPORT </p>








    <div class="button">
      <div class='btn-btn' (click)="inc(luggage)"><i class="fa fa-plus myicon1" aria-hidden="true"></i></div>
      <input type="text" value="{{luggage.hours}}"><i class="fa fa-clock-o myicon2" aria-hidden="true"></i>
      <div class='btn-btn' (click)="dec(luggage)"><i class="fa fa-minus myicon1" aria-hidden="true"></i></div>
    </div>
    <p class='price'>Price:<span class='price-value'>{{luggage.hours*luggage.price+5 | currency: "RON" }}</span></p>


    <button class='btn-remove' (click)='removeStorage(luggage)'><span class="pay-pay">Pay</span></button>
  </div>
</div>

</section>

<insurance></insurance>
<footer></footer>
